---
export const prerender = true;
import Card from "@/components/Card.astro";
import Layout from "@/components/Layout.astro";
---

<Layout title="RINX.DEV">
  <main>
    <h1>Hobby projects</h1>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://otp.rinx.dev/"
        title="OTP"
        body="Generate and validate time-based OTP (one time password) for multi-factor authentication."
        badges={["Next.js", "Fluent UI", "PWA"]}
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.5rem;
    display: block;
    margin-bottom: 1.5rem;
    color: rgb(var(--accent));
    background-image: var(--accent-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
