---
export const prerender = true;
import Layout from "@/components/Layout.astro";
---

<Layout title="RINX.DEV">
  <main>
    <h1>RINX.DEV</h1>
  </main>
</Layout>

<style>
  main {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
